<aside class="side_menu">
    <div class="side_menu__logo">
      <a href="/home.html"><img src="/assets/img/logo_long.png" width="80px" alt="Veldora logo"></a>
    </div>
    <div class="side_menu__top">
      <div class="side_menu__profile">
        <div class="side_menu__profile_pic">
          <h2><%- user.userName[0].toUpperCase() %> </h2>
        </div>
      <p class="side_menu__profile_name"><%- user.userName %> </p>
      </div>
    </div>
    <div class="side_menu__bottom">
      <ol class="side_menu__nav">
        <li class="side_menu__link <%- active === 1 ? "side_menu__link--active" : "" %> ">
          <a href="/dashboard"><i class="ri-dashboard-line"></i>Dashboard</a></li>
        <li class="side_menu__link">
          <!-- Add review icon -->
          <a href="/review"><i class="ri-bill-line"></i>Review</a></li>
        <li class="side_menu__link">
          <a href="/settings"><i class="ri-settings-2-line"></i>Settings</a>
        </li>
        <li class="side_menu__link side_menu__link--warning">
          <a href="/logout"><i class="ri-logout-box-r-line"></i>Logout</a>
        </li>
      </ol>
    </div>
  </aside>