<footer class="footer">
  <div class="footer__top">
    <ul class="footer__list">
      <li><a href="/home" class="footer__link">home</a></li>
      <li><a href="/about" class="footer__link">about us</a></li>
      <li><a href="/docs" class="footer__link">documentation</a></li>
      <li>
        <button class="button button--active">Get started for free</button>
      </li>
    </ul>
    <ul class="footer__list footer__contact">
      <p>Contact Us</p>
      <li><a href="/home" class="footer__link"><i class="icon icon__facebook"></i>Facebook</a></li>
      <li><a href="/about" class="footer__link"><i class="icon icon__twitter"></i>Twitter</a></li>
      <li><a href="/docs" class="footer__link"><i class="icon icon__github"></i>GitHub</a></li>
    </ul>
    <ul class="footer__list footer__logo">
      <li><a href="/home" class="footer__link">
        <div>
          <img src="/assets/img/logo_long.png" width="100px" alt="" />
        </div>
      </a></li>
      
      <li><a href="/docs" class="footer__link">FAQs</a></li>
    </ul>
  </div>
  <div class="footer__bottom"><p>(c) Copyright Veldora 2021</p></div>
</footer>