<footer>
  <ul>
    <li>
      Home
    </li>
    <li>
      About
    </li>
    <li>
      Docs
    </li>
    <li>
      Pricing
    </li>
    <li>
      Contact Us
    </li>
  </ul>
  <p>
    Making form handling easier
  </p>
  <p><sub>
    From Prince Codes 247
  </sub></p>
</footer>