<header class="c-navbar <%- classes %>  scroll-shrink">
    <div class="c-navbar__logo">
      <a href="/"
        ><img src="/assets/img/logo_long.png" width="100px" alt=""
      /></a>
    </div>
    <nav>
      <ul class="c-navbar__links">
        <li>
          <a href="/" class="c-navbar__link c-navbar__link--current"
            >home</a
          >
        </li>

        <li>
          <a href="/docs" class="c-navbar__link">docs</a>
        </li>
        <li>
          <a href="/faqs" class="c-navbar__link">FAQs</a>
        </li>
        <li>
          <a
            href="/signup"
            class="c-navbar__link button button--outline"
          >
            Sign Up
          </a>
        </li>
      </ul>
    </nav>
    <div class="ham"></div>
  </header>
  <div class="navbar_back <%- classes %>"></div>