.button, button {
    background-color: var(--button-active);
    padding: 10px 20px;
    color: var(--font-color);
    border: none;
    border-radius: var(--border-rad-2);
     -ms-flex-item-align: left;
        -ms-grid-row-align: left;
        align-self: left;
    padding: 10px 20px;
    border: none;
    text-decoration: none;
    box-shadow: 2px 2px 5px 1px #0002;
    border-radius: var(--border-rad-2);
    background-color: var(--button-active);
  }

  .button:active, button:active {
    background-color: var(--button-clicked);
  }

  .button--outline {
    border: 2px solid var(--button-active);
  }
  .button--alt {
    color: var(--alt-font-color);
    background-color: var(--prim-color);
}
  .button--alt_outline {
    
    background-color: transparent;
    border: 2px solid var(--prim-color);
    box-shadow: none;
}

  .button--alt:active {
    background-color: var(--prim-color);
}

.button--sec {
  color: var(--alt-font-color);
  background-color: var(--prim-color);
}
.button--sec_outline {
  
  background-color: transparent;
  border: 2px solid var(--prim-color);
  box-shadow: none;
}

.button--sec:active {
  background-color: var(--prim-color);
}
