section main .heading {
  /* flex: 3; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
section main .heading .top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

main form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

main form button{
  text-align: left;
}

.table-top {
  display: flex;
  justify-content: end;
}
.table-bottom {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.15);
}

.table-bottom thead tr {
  background-color: var(--prim-color);
  color: #fff;
}

.table-bottom th,
.table-bottom  td {
  padding: 12px 15px;
}

.table-bottom tbody tr {
  border-bottom: thin solid #dddd;
}

.table-bottom  tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.table-bottom tbody tr:last-of-type {
  border-bottom: 2px solid var(--prim-color);
}

.table-bottom tbody tr.active-row {
  font-weight: bold;
  color: var(--prim-color);
}

