header {
  display: none;
}



section {
    padding: 0;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    text-align: left;
    height: 100vh;
  }
 section aside{
   display: flex;
   flex-direction: column;
    flex: 2;
    background: var(--bg);
    box-shadow: 3px 0 6px 4px #0002;
  }

  section aside .top {
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--alt-bg);
  }

  section aside .bottom {
    flex: 6;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    
  }

  section aside .bottom ol{
    
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 15px;
  }

  section aside .bottom ol li{
    padding: 6% 20%;
    background-color: var(--black-3);
  }

  section main{
    flex: 8;
    padding: 5% 5% 3%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  section#dashboard main .heading {
    flex: 3;
  }
  section#dashboard main .progress-bar {
    flex: 2;
    background-color: var(--black-3);
    border-radius: 40px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  section#dashboard main .collections {
    flex: 10;
    display: flex;
    flex-direction: column;
    
  }
  section#dashboard main .collections > .bottom{
    flex: 8;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .no-collection-sign {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2.1em;
  }
  section#dashboard main .collections .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .collections ul {
    display: -ms-grid;
    display: grid;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    grid-auto-rows: 200px;
  }
  
  section#dashboard ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    border-radius: var(--border-rad-1);
    background-color: var(--sub-bg);
    padding: 10px;
    overflow: hidden;
  }
  

  .modal {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    background: #0005;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 1s all ease;
  }

  .modal.close {
    background: #0000;

  }
  .modal.close .form {
    opacity: 0;
    width: 0px;
    overflow: hidden;
    visibility: hidden;
  }
  .modal .form {
    background: var(--bg);
    height: 90%;
    width: 50%;
    padding: 5% 5% 2%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
  }
  .modal .form h4 {
   flex: 1;
  }

  .modal .form form {
    margin-top: 30px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    
  }

  .modal .form form label{
   flex: 1;
   display: flex;
   flex-direction: column;
   align-items: stretch;
  }

  .modal .form form textarea{
    resize: none;
    height: 100%;
  }