
  
  form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 30px;
  }

  
  form label {

    margin-bottom: 30px;
    position: relative;
  }
  

  form label p {
    position: absolute;
    top: 50%;
    left: 1.5%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    color: #333;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    pointer-events: none;
  }
  
  form label input, form label textarea {
    padding: 10px;
    border: none;
    outline: 2px solid var(--transparent);
    background-color: var(--sub-bg);
    -webkit-transition: 0.1s;
    transition: 0.1s;
  }

  form label input:focus-within, form label input:valid,  form label textarea:focus-within, form label textarea:valid  {
    outline: 1px solid var(--prim-color);
  }
  
  form label input:focus-within + p, form label input:valid + p {
    color: var(--prim-color);
    top: -25%;
    font-size: 14px;
    left: 0;
  }