body {
  background: var(--alt-bg);
  color: var(--alt-font-color);
}

.c-navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 15vh;
  min-height: 50px;
  width: 100%;
  background-color: var(--prim-color);
  color: white;
  padding: 0 10%;
  border-bottom: 1px solid var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 99;
  --logo-size: 100px;
  -webkit-transition: 0.5s 0.2s height ease;
  transition: 0.5s 0.2s height ease;
}

.c-navbar.small {
  height: 8vh;
  --logo-size: 70px;
}

.c-navbar__logo img {
  -webkit-transition: 0.5s 0.2s width ease;
  transition: 0.5s 0.2s width ease;
  width: var(--logo-size);
}

.c-navbar__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.c-navbar__link {
  margin: 5px;
}

.c-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  background-color: var(--bg);
  border-radius: var(--border-rad-1);
  padding: 20px;
}

.c-card__top {
  background-color: var(--alt-bg);
  margin-bottom: 10px;
  height: 100%;
  width: 100%;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.c-card__top--circle {
  width: 8em;
  height: 8em;
  border-radius: 1000px;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-card__bottom {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  color: var(--black);
  text-align: center;
}

.bg-invert::before {
  display: none;
  position: absolute;
  content: "";
  right: 0;
  background: var(--prim-color);
  height: 60px;
  width: 70px;
  border-radius: 100px 0 0 100px;
}

.c-intro {
  height: 92vh;
  padding-top: 0;
  text-align: left;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.c-intro__content {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  width: 100%;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  z-index: 2;
}

.c-intro__social_links {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-carousel__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  position: relative;
}

.c-carousel__item {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.c-carousel__item_img {
  height: 60px;
  width: 60px;
  border-radius: 100px;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin-bottom: 10px;
  background-color: var(--prim-color);
}

.c-carousel__item_content {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  background-color: transparent;
}

.c-carousel__pos_marker {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.c-carousel__pos_marker_dot {
  width: 30px;
  height: 30px;
  background-color: var(--black-3);
  border-radius: 100px;
}

.c-carousel__pos_marker_dot--active {
  background-color: var(--orange-1);
}

/*

  .intro {
    height: 92vh;
    padding-top: 0;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white;
    background: url("./bg.png"), var(--prim-color);
    background-position: 105% -10%;
    background-size: 50%;
    background-repeat: no-repeat;
    position: relative;
  }
*/
/*#intro button {
  align-self: center;
}*/
/*

.testimonial-sect {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonial-sect ul{
  display: flex;
  gap: 30px;
  width: 90%;
  height: 200px;
  overflow-x: scroll;
  overflow-y: hidden;
}
.testimonial-sect ul li {
  display: inline-flex;
  align-items: center;
  text-align: left;
  gap: 10px;

}
.testimonial-sect ul li .pic{
  background: var(--prim-color);
  border-radius: 100px;
  width: 9em;
  height: 8em;
}

.contact-sect {
   padding: 0;
  height: 40vh;
  // outline: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact-sect h2 {
  margin: 0;
  // outline: 1px solid red; 
  
}
*/
@-webkit-keyframes span1 {
  0% {
    width: 100%;
  }
  30% {
    width: 10%;
  }
  32% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  35% {
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
  100% {
    width: 110%;
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
}

@keyframes span1 {
  0% {
    width: 100%;
  }
  30% {
    width: 10%;
  }
  32% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  35% {
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
  100% {
    width: 110%;
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
}

@-webkit-keyframes span2 {
  0% {
    width: 50%;
  }
  30% {
    width: 10%;
  }
  45% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-480%);
    transform: translateX(-480%);
    width: 10%;
  }
}

@keyframes span2 {
  0% {
    width: 50%;
  }
  30% {
    width: 10%;
  }
  45% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-480%);
    transform: translateX(-480%);
    width: 10%;
  }
}

@-webkit-keyframes span3 {
  0% {
    width: 70%;
  }
  30% {
    width: 10%;
  }
  32% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  35% {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  100% {
    width: 110%;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
}

@keyframes span3 {
  0% {
    width: 70%;
  }
  30% {
    width: 10%;
  }
  32% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  35% {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  100% {
    width: 110%;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
}

@-webkit-keyframes rspan1 {
  100% {
    width: 100%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  70% {
    width: 10%;
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
  72% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  0% {
    width: 110%;
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
}

@keyframes rspan1 {
  100% {
    width: 100%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  70% {
    width: 10%;
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
  72% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  0% {
    width: 110%;
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
}

@-webkit-keyframes rspan2 {
  100% {
    width: 50%;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  70% {
    width: 10%;
  }
  55% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  0% {
    -webkit-transform: translateX(-480%);
    transform: translateX(-480%);
    width: 10%;
  }
}

@keyframes rspan2 {
  100% {
    width: 50%;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  70% {
    width: 10%;
  }
  55% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  0% {
    -webkit-transform: translateX(-480%);
    transform: translateX(-480%);
    width: 10%;
  }
}

@-webkit-keyframes rspan3 {
  100% {
    width: 70%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  70% {
    width: 10%;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  72% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  0% {
    width: 110%;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
}

@keyframes rspan3 {
  100% {
    width: 70%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  70% {
    width: 10%;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  72% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  0% {
    width: 110%;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
}

/* 

@media screen and (min-width: 550px) {
  header {
    height: 5vh;
    padding-right: 40px;
  }
  header::after {
    left: 99%;
  }
  .ham.ham-norm,
  .ham.click,
  div.ham {
    display: none;
    visibility: none;
    opacity: 0;
  }
  footer {
    height: 5vh;
  }
} */
/* 
@media screen and (max-width: 550px) {
  header nav {
    display: none;
  }
} */
/*# sourceMappingURL=home2.css.map */