<main>

  <section id="about">
    <h2>Under Development</h2>
    <div class="pattern circle"></div>
    <div class="pattern circle"></div>
    <div class="pattern line"></div>
    <p>This page is currently under development, and will be updated with future versions.</p>
    <br>
    <a href="http://">Return to homepage</a>
  </section>


</main>