<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="description"
      content="Veldora is a tool created by Prince Gbalam that makes it easy to send form details to your mail without
    needing to write backend code.
    Try it out today!"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!--TODO Work on these icons-->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/img/apple-touch-icon.56e3e538e402.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/img/favicon-32x32.195b72d8c434.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/img/favicon-16x16.64576fad7414.png"
    />
    <link rel="shortcut icon" href="/img/favicon.81fde82a904a.ico" />
    <link rel="manifest" href="/img/manifest.c8e3b78f511f.json" />
    <link
      rel="mask-icon"
      href="/img/safari-pinned-tab.4e80224bde32.svg"
      color="#832e8e"
    />
    <meta name="theme-color" content="#832e8e" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@veldora" />
    <meta name="twitter:creator" content="@prince_codes247" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Veldora - Supercharged forms" />
    <meta property="og:image" content="media/images/" />
    <meta
      property="og:description"
      content="Veldora is a tool created by Prince Gbalam that makes it easy to handle form data without
        needing to write backend code.
        Try it out today!"
    />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="veldora.com" />
    <meta property="fb:app_id" content="206571166063990" />
    <link rel="canonical" href="https://veldora.herokuapp.com" />
    <link rel="stylesheet" href="/styles/general.css" />
    <link rel="stylesheet" href="/styles/home.css" />
    <link rel="stylesheet" href="/styles/form.css">
    <link rel="stylesheet" href="/styles/button.css" />
    <link rel="stylesheet" href="/styles/control.css" />
    <title><%- title %> </title>
  </head>
  <body>
    <%- include('../partials/navbar', {classes: "small"}) %>
  <%- body %>


<%- include('../partials/footer')  %> 
      </body>

</html>