
<%- include('partials/navbar', {classes: "small"}) %>
<main class="height--screen">
  <section class="c-sect height--screen center">
    <h1 class="font--xxbig">404</h1>
    <h4>Seems like there is nothing here</h4>
    <a href="/home">Go back to home page</a>
  </section>
</main>
