
<body>
    
        <main>
          <article class="dashboard">
            <div class="dashboard__top">
              <div class="dashboard__nav">
                  <h3>Collection: Project Survey - Settings</h3>
                
                  <div>
                   
                    </div>
              </div>
              
                  <div class="bottom">
                    <h5>Description</h5>
                    <p>This is a something for something</p>
                </div>
                  </div>

                  <!-- CORRECT THE LINK -->
                  <form action="/settings/<%- collection.collectionID %> " method="post">
                      <label for="">
                        <input type="text">
                        <p class="float">Collection Name</p>
                      </label>
                      <label for="">
                        <input type="text">
                        <p class="float">Collection Description</p>
                    </label>
                    <label for="">
                      <input type="password">
                      <p class="float">Collection Auth</p>
                  </label>
                    <label for="">
                        <input type="checkbox">
                    </label>
                    <label for="">
                        <input type="checkbox">
                    </label>
                    <div class="button-sect">
                        <button>Discard</button>
                    <button type="submit">Save</button>
                    </div>
                  </form>
                  <form action="/delete" method="post">
                    <h4 class="margin_top--40">Delete Collection</h4>
                    <label for="">
                      <input type="text" placeholder="collection">
                      <p class="float">Verify collection name</p>
                    </label>
                  <div class="button-sect">
                  <button type="submit">Save</button>
                  </div>
                </form>
          
              
            </article>
        </main>