<main class="wide-container">

    <section>
        <div class="content-container">
            <div class="block-rich_text">
                <div class="rich-text">
                    <h2>Check your Email</h2>
                    <p>
                        An confirmation email has ben sent to your email address,
                        if you can't find it, check in spam.
                    </p>
                </div>
            </div>
        </div>
    </section>

</main>
<!-- <script>
    setTimeout(() => {
        window.location.href = `/dashboard`

    }, 1500)
</script> -->
<%- include('partials/footer') %>