<main>
    <section class="c-sect c-sect--white" id="login">
        <h2>
            Login
        </h2>
        <form class="margin_y--40" action="/login" method="post">
            <label for="">
                <input type="text" name="email" autofocus required>
                <p class="float">Email</p>
            </label>
            <label for="">
                <input type="password" name="password" id="" required>
                <p class="float">Password</p>
            </label>
            <button class="button" type="submit">Login</button>
        </form>
        <a href="/signup">Don't have an account? Signup here</a>
    </section>




</main>