<main>
    <section id="login">
        <h2>
            Login
        </h2>
        <form action="/login" method="post">
            <label for="">
                <input type="text" name="email" autofocus required>
                <p>Email</p>
            </label>
            <label for="">
                <input type="password" name="password" id="" required>
                <p>Password</p>
            </label>
            <button class="button" type="submit">Login</button>
            
        </form>
    </section>




</main>