
<body>
    
        <main class="flex">
          <aside class="side_menu">
            <div class="side_menu__logo">
              <img src="./assets/img/logo_long.png" width="80px" alt="">
            </div>
            <div class="side_menu__top">
              <div class="side_menu__profile">
                <img class="side_menu__profile_pic" src="" alt="">
              <p class="side_menu__profile_name">Prince Lee</p>
              </div>
            </div>
            <div class="side_menu__bottom">
              <ol class="side_menu__nav">
                <li class="side_menu__link side_menu__link--active">Dashboard</li>
                <li class="side_menu__link">Plans</li>
                <li class="side_menu__link">Settings</li>
                <li class="side_menu__link">Logout</li>
              </ol>
            </div>
          </aside>
          <article class="dashboard">
            <div class="dashboard__top">
              <div class="dashboard__nav">
                  <h3>Write a review</h3>
                
                  <div>
                    <button>S</button>
                    <button>S</button>
                        <button>S</button>
                    </div>
              </div>
              
                  <div class="bottom">
                    <h5>What did you think about Veldora?</h5>
                    <p></p>
                </div>
                  </div>
                  <form action="/review" method="post">
                      <label for="">
                        <input type="text" placeholder="John Doe">
                        <p class="float" >Your Name</p>
                      </label>
                      <label for="">
                        <textarea class="input" name="" id="" cols="30" rows="10" placeholder="Your review"></textarea>
                        
                    </label>
                    <label for="">
                      <input type="password" placeholder="Frontend Developer, VSAW">
                      <p class="float">Your title (if you have any)</p>
                  </label>
                    <div class="button-sect">
                    <button type="submit">Send Review</button>
                    </div>
                  </form>
          
              
            </article>
        </main>