
<body>
    
        <main class="flex">
          <%- include('partials/aside') %>
          <article class="dashboard">
            <div class="dashboard__top">
              <div class="dashboard__nav">
                  <h3>Write a review</h3>
                
                  <div>

                    </div>
              </div>
              
                  <div class="bottom">
                    <h5>What did you think about Veldora?</h5>
                    <p></p>
                </div>
                  </div>
                  <form id="review-form" action="/review" method="post">
                      <label for="">
                        <input type="text" id="review_name_input" placeholder="John Doe" >
                        <p class="float" >Your Name</p>
                      </label>
                      <label for="">
                        <textarea class="input" name="" id="review_message_input" cols="30" rows="10" placeholder="Your review" required></textarea>
                        
                    </label>
                    <label for="">
                      <input id="review_title_input" type="text" placeholder="Frontend Developer, VSAW">
                      <p class="float">Your title (if you have any)</p>
                  </label>
                    <div class="button-sect">
                    <button id="review_submit" type="submit">Send Review</button>
                    </div>
                  </form>
          
              
            </article>
        </main>
        <script src="/scripts/review.js"></script>