<main>
    <section class="c-sect c-sect--white" id="signup">
        <h2>
            Sign Up
        </h2>

        <form class="margin_top--40"  action="/signup" method="post">
            <label for="">
                <input type="text" name="userName" autofocus required>
                <p class="float">Username</p>
            </label>
            <label for="">
                <input type="text" name="email" id="" autofocus required>
                <p class="float">Email Address</p>
            </label>
            <label for="">
                <input type="password" name="password" autofocus required>
                <p class="float">Make a password</p>
            </label>
            <label for="">
                <input type="password" name="password2" id="" autofocus required>
                <p class="float">Confirm password</p>
            </label>
<button class="button" type="submit">Sign Up</button>
</form>
<a href="/login">Already have an account? Login here</a>
    </section>
</main>




</main>