
<%- include('partials/navbar', {classes: "small"}) %>
<main style="max-height:80vh;" class="height--screen">
  <section class="c-sect height--screen center">
    <h1 class="font--xbig">Thank you!</h1>
    <h4>The form was submitted successfully</h4>
    <a href="<%- host %> ">Go back to original page</a>
  <br/>
<br/>
<div><p>Powered By <a href="https://veldora.herokuapp.com/">Veldora</a></p></div>
</section>
</main>
