
<%- include('partials/navbar', {classes: "small"}) %>
<main class="height--screen">
  <section class="c-sect height--screen center">
    <h1 class="font--xbig">Thank you!</h1>
    <h4>The form was submitted successfully</h4>
    <a href="<%- host %> ">Go back to original page</a>
  </section>
</main>
