
    <%- include('partials/navbar', {classes: "small"}) %>
    <main>
      <section class="c-sect">
        <h2>Under Construction</h2>

        <p>
          This page is currently under construction, and will be updated with
          future versions.
        </p>
        <br />
        <a href="/home">Return to homepage</a>
      </section>
    </main>
  