.dashboard__top {
  /* flex: 3; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.dashboard__nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

main form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

main form button{
  text-align: left;
}

.table-top {
  display: flex;
  justify-content: end;
}
.table-bottom {

  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  /* min-width: 400px; */
  width: 100%;
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.15);
}

.table-bottom thead tr {
  background-color: var(--black);
  color: #fff;
}

.table-bottom th,
.table-bottom  td {
  padding: 10px 15px;
}

.table-bottom tbody tr {
  font-weight: bold;
  border-bottom: thin solid #dddd;
  background-color: hsl(0, 0%, 90%);
}

.table-bottom  tbody tr:nth-of-type(even) {
  background-color: hsl(0, 0%, 80%);
}

.table-bottom tbody tr:last-of-type {
  border-bottom: 2px solid var(--black);
}

.table-bottom tbody tr.active-row {
  /* font-weight: bold; */
  color: var(--black);
}


@media screen and (max-width: 460px) {
  .table-bottom {

  width: 90vw;
  overflow: scroll;
  outline: 1px solid red;
  }
}