.invisible {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.hidden {
  display: none;
}
.height--screen {
  min-height: 100vh;
}
.height--all {
  height: 100%;
}
.margin_top--40{
  margin: 40px 0;
}
.margin_top--20{
  margin: 20px 0;
}
.center {
  justify-content: center;
  align-items: center;
}
.font--xxbig {
  font-size: 10em;
}

.above-3{
  z-index: 99;
}

.color--amber {
  color: var(--amber-2);
}

.bg--black {
  background-color: var(--black);
  background-color: var(--white);
}
.mobile {
  display: none;
}

@media screen and (max-width: 460px) {
  .mobile {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .desktop {
    display: none;
  }
}


.flex {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  text-align: left;
  min-height: 100vh;
}
