.c-navbar {
  display: none;
}
.navbar_back {
  display: none;
}

.side_menu {
  position: sticky;
  left: 0;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 2 4 290px;
  max-width: 20vw;
  min-width: 230px;
  background: var(--bg);
  box-shadow: 1px 0 6px 4px #0002;
  background: var(--alt-bg);
  font-family: var(--heading-font);
  padding-left: 40px;
  &__logo {
    flex: 1;
    display: flex;
    align-items: center;
    padding-left: 10%;
  }
  &__top {
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 10%;
  }
  &__profile {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--white);
  }
  &__profile_pic {
    background-color: var(--sec-color);
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    h2 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-45%, -48%);
    }
  }
  &__profile_name {
    text-overflow: clip;
    word-wrap: break-word;
    word-break: break-all;
  }
  &__bottom {
    flex: 6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
  }
  &__nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    list-style: none;
    gap: 7px;
  }
  &__link {
    padding: 5% 20%;
    border-radius: 20px 0 0 20px;
    color: var(--white);
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    &:hover {
      background-color: var(--transition-color);
    }
    a {
      color: var(--white);
      text-decoration: none;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
    }
    &--active {
      color: var(--active-color);
      background-color: var(--sec-color);
      &:hover {
        background-color: var(--sec-color);
      }
    }
    &--warning {
      &:hover {
        background-color: var(--warning-color);
      }
    }
  }
}

.dashboard {
  flex: 8;
  padding: 5% 5% 3%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  &__top {
    flex: 3;
  }

  &__nav_btns {
    display: flex;
    gap: 10px;
  }
  &__search_sect {
    flex: 2;
    background-color: transparent;

    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__search_bar {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: stretch;
    box-shadow: 1px 1px 5px 5px #00000009;
    background-color: var(--white);
    border-radius: 5px;
    &:focus-within {
      outline: thin solid var(--prim-color);
    }
  }
  &__filter_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    
    background-color: transparent;
    box-shadow: none;
    border-radius: 5px 0 0 5px;
    //border-right: thin solid var(--black);
  }
  &__search {
    flex: 17;
    background-color: transparent;
    border: none;
    padding: 10px;
    outline: none;
  }
  &__search_btn {
    flex: 2;
    padding: 3px 20px;
    margin: 3px;
  }
  &__collections {
    flex: 10;
    display: flex;
    flex-direction: column;
  }
  &__collections_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  &__collections_bottom {
    flex: 8;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__collections_grid {
    display: -ms-grid;
    display: grid;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    grid-template-columns: repeat(auto-fit, minmax(150px, 250px));
    gap: 20px;
    grid-auto-rows: 200px;
  }
}

.no-collection-sign {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2.1em;
}

.collection_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
  padding: 10px;
  overflow: hidden;
  &:hover &__top {
    border: thin solid var(--prim-color);
  }
  &__top {
    padding: 10px;
    border-radius: var(--border-rad-1);
    background-color: var(--sub-bg);
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__icon {
    width: 70px;
    height: 70px;
    background-color: var(--black-4);
  }
}

.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  align-items: center;
  top: 0;
  background: #0005;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 0.8s all ease;
  z-index: 12;
}

.modal.close {
  background: #0000;
  pointer-events: none;
}
.modal.close .form {
  opacity: 0;
  width: 0px;
  overflow: hidden;
  visibility: hidden;
  pointer-events: none;
}
.modal .form {
  background: var(--bg);
  min-height: 60vh;
  width: 50%;
  padding: 5% 5% 2%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}
.modal .form h4 {
  flex: 1;
}

.modal .form form {
  margin-top: 30px;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.modal .form form label {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.modal .form form textarea {
  resize: none;
  height: 100%;
}

@media screen and (max-width: 460px) {
  .c-navbar {
    display: flex;
  }
  .navbar_back {
    display: flex;
  }
  .side_menu {
    display: none;
  }
  main {
    flex-direction: column;
  }
  .dashboard__search_sect {
  }
  .modal .form {
    background: var(--bg);
    min-height: 50vh;
    width: 90%;
  }
}
