
body {
  background: var(--alt-bg);
  color: var(--alt-font-color);
}

.ham.ham-norm,
.ham.click,
div.ham {
  display: none;
  visibility: none;
  opacity: 0;
}
.c-about::before {
    background-color: var(--active-color);
  }
.c-card {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: var(--bg);
  border-radius: var(--border-rad-1);
  padding: 20px;
  &__top {
    background-color: var(--alt-bg);
    margin-bottom: 10px;
    height: 100%;
    width: 100%;
    flex: 4;
    &--circle {
      width: 9em;
      border-radius: 100px;
      align-self: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__bottom {
    flex: 4;
    color: var(--black);
    
    text-align: center;
  }
}

.bg-invert::before {
  display: none;
  position: absolute;
  content: "";
  right: 0;
  background: var(--prim-color);
  height: 60px;
  width: 70px;
  border-radius: 100px 0 0 100px;
}

  .c-intro {
    height: 85vh;
    padding-top: 0;
    text-align: left;
    justify-content: space-around;
    align-items: center;
    position: relative;

    &__content {
      flex: 5;
      width: 100%;
      text-align: left;
      display: flex;
      gap: 20px;
      flex-direction: column;
      align-items: flex-start;
      z-index: 2;
    }
    &__social_links {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
      align-items: center;
    }
    &::before, &::after{
      left: 0;
      top: 60%;
      width: var(--block-height);
      height: var(--block-width);
      background-color: var(--active-color);
    }
    &::after{
      left: unset;
      right: 0;
      top: 10%;

    }
  }

  .c-carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__items {
        display: flex;
        align-items: center;
        gap: 10px;
        position: relative;
    }
        &__item {
          display: block;
          flex-direction: column;
          &_img {
            height: 60px;
            width: 60px;
            border-radius: 100px;
            flex: 2;
            margin-bottom: 10px;
            background-color: var(--prim-color);
          }
          &_content {
            flex: 4;
            background-color: transparent;
          }
      }
      &__pos_marker {
        margin-top: 30px;
        display: flex;
        gap: 10px;
        &_dot {
          width: 30px;
        height: 30px;
        background-color: var(--black-3);
        border-radius: 100px;
        &--active {
          background-color: var(--amber-2);
        }
        }
      }
  }

.newsletter {
  
  &__box {
    display: flex;
    background-color: var(--bg);
    border-radius:11px;
    &:focus-within {
      outline: 1px solid var(--active-color);
    }
  }
  &__input {
    background-color: transparent;
    border: none;
    padding: 10px;
    outline: none;
  }
  &__join {
    border-radius: 0 var(--border-rad-1) var(--border-rad-1) 0;
  }
}

.scroll_up_btn {
  display: flex;
  transition: 0.5s all ease;
  position: fixed;
  right: 20px;
  bottom: 30px;
}

@media screen and (max-width: 990px) {
  .c-intro {

  
  &__content  {

  }
  &__social_links {
    
  }
  }

  .c-sect {
    &__img {
     width: 100%;
    }
  }
  .bg-invert::before {

    right: 0;
    display: inline;
    height: 80px;
    width: 200px;
    
  }
} 
@media screen and (max-width: 768px) {
  .c-intro {
    max-height: none;
    height: max-content;
  
    &__content  {
  
    }
    &__social_links {
      margin-top: 15px;
      flex-direction: row;
    }
    }
  
    .c-sect {
      flex-direction: column;
      &__img {
       width: 60%;
      }
    }
}
@media screen and (max-width: 460px) {
    

    .c-sect {
      
      &__content  {
        text-align: center;
        align-items: center;
      }
      &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-auto-rows: 280px;
        width: 70vw;
        &--col-3{
          grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
          max-width: 300px;
        }
      }
      &__img {
        
       width: 80%;
      }
    }
      .c-intro {
        height: 85vh;
  
    &__content  {
      text-align: center;
      align-items: center;
    }

    }
    .c-about {
      flex-direction: column-reverse;
    }
    .footer {
      &__top {
      padding: 5% 10%;
      }
      &__contact{
        display: none;
    }
    &__logo {
      align-items: flex-end;
    }
  }
}

@-webkit-keyframes span1 {
  0% {
    width: 100%;
  }
  30% {
    width: 10%;
  }
  32% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  35% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
  100% {
    width: 110%;
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
}

@keyframes span1 {
  0% {
    width: 100%;
  }
  30% {
    width: 10%;
  }
  32% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  35% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
  100% {
    width: 110%;
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
}

@-webkit-keyframes span2 {
  0% {
    width: 50%;
  }
  30% {
    width: 10%;
  }
  45% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-480%);
            transform: translateX(-480%);
    width: 10%;
  }
}

@keyframes span2 {
  0% {
    width: 50%;
  }
  30% {
    width: 10%;
  }
  45% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-480%);
            transform: translateX(-480%);
    width: 10%;
  }
}

@-webkit-keyframes span3 {
  0% {
    width: 70%;
  }
  30% {
    width: 10%;
  }
  32% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  35% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  100% {
    width: 110%;
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
}

@keyframes span3 {
  0% {
    width: 70%;
  }
  30% {
    width: 10%;
  }
  32% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  35% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  100% {
    width: 110%;
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
}

@-webkit-keyframes rspan1 {
  100% {
    width: 100%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  70% {
    width: 10%;
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
  72% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  0% {
    width: 110%;
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
}

@keyframes rspan1 {
  100% {
    width: 100%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  70% {
    width: 10%;
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
  72% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  0% {
    width: 110%;
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
}

@-webkit-keyframes rspan2 {
  100% {
    width: 50%;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  70% {
    width: 10%;
  }
  55% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  0% {
    -webkit-transform: translateX(-480%);
            transform: translateX(-480%);
    width: 10%;
  }
}

@keyframes rspan2 {
  100% {
    width: 50%;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  70% {
    width: 10%;
  }
  55% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  0% {
    -webkit-transform: translateX(-480%);
            transform: translateX(-480%);
    width: 10%;
  }
}

@-webkit-keyframes rspan3 {
  100% {
    width: 70%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  70% {
    width: 10%;
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  72% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  0% {
    width: 110%;
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
}

@keyframes rspan3 {
  100% {
    width: 70%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  70% {
    width: 10%;
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  72% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  0% {
    width: 110%;
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
}

/* @media screen and (min-width: 550px) {
  header {
    height: 5vh;
    padding-right: 40px;
  }
  header::after {
    left: 99%;
  }
  .ham.ham-norm,
  .ham.click,
  div.ham {
    display: none;
    visibility: none;
    opacity: 0;
  }
  footer {
    height: 5vh;
  }
} */
/* @media screen and (max-width: 550px) {
  header nav {
    display: none;
  }
} */

/*@media screen and (min-width: 768px) {
  section#intro {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  section#intro .hero-text {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
  }

  #intro button {
    align-self: flex-start;
  }
  .bg-invert::before {

    right: 0;
    display: inline;
    height: 80px;
    width: 200px;
    
  }
  h2::after {
    display: inline;
  }
} */